{{page-title "Contacts"}}
<!--<Input type="text" placeholder="Filtrer..." class="form-control"></Input>-->
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Email</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model.contacts as |contact|}}
    <tr>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.email}}</td>
      <td>
        <LinkTo @route="contacts.update" @model={{contact.id}} class="btn btn-primary btn-sm">
          <i class="fas fa-edit"></i>
        </LinkTo>
        <button {{action "delete" contact}}class="btn btn-danger btn-sm">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td>
      <div class="input-group-button">
        <LinkTo class="btn btn-primary" @route="contacts.add">Ajouter</LinkTo>
        {{#if @model.deletedsCount}}
          <button type="button" class="btn btn-danger mr-5" {{action "cancelDeletion" @model.deleteds}}>Annuler la suppression ({{@model.deletedsCount}})</button>
          <button type="button" class="btn btn-success" {{action "saveDeletion" @model.deleteds}}>Confirmer la suppression ({{@model.deletedsCount}})</button>
        {{/if}}
      </div>
    </td>
  </tr>
  </tfoot>
</table>
{{outlet}}