{{page-title "Contacts"}}
<table>
  <thead>
  <tr>
    <td>Nom</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model.contacts as |contact|}}
    <tr>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.email}}</td>
      <td>
        <LinkTo @route="contacts.update" @model={{contact.id}} class="btn btn-primary btn-sm">
          <i class="fas fa-edit"></i>
        </LinkTo>
        <button {{action "delete" contact}}class="btn btn-danger btn-sm">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td><LinkTo @route="contacts.add">Ajouter</LinkTo></td>
    {{#if @model.deletedsCount}}
      <button class="btn btn-danger" {{action "cancelDeletion" contact}}>Annuler la suppression ({{@model.deletedsCount}})</button>
    {{/if}}
  </tr>
  </tfoot>
</table>
{{outlet}}